.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    opacity: 1.0;
}

.footer__link:hover {
    transition: opacity 0.3s linear;
    opacity: 0.8;
}

@media screen and (max-width: 750px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}