.page__lead {
    margin: 0 148px 92px 148px;
}

@media screen and (max-width: 1024px) {
    .page__lead {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .page__lead {
        margin: 0 0 88px 0;
    }
}

@media screen and (max-width: 320px) {
    .page__lead {
        margin: 0 0 64px 0;
    }
}